@import "tailwindcss";
/* Add this to your CSS */
.pdf-safe-mode {
  /* Manually override oklch/oklab variables with HEX */
  --tw-bg-opacity: 1;
  background-color: #080e0d !important; 
  color: #ffffff !important;
}

.pdf-safe-mode .text-green-400 {
  color: #4ade80 !important; /* Standard HEX for Green 400 */
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
.animate-shimmer {
  animation: shimmer 2s infinite linear;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
