@import "tailwindcss";
/* Add this to your CSS */
/* In your globals.css */
select option {
  background-color: #18181b; /* zinc-900 */
  color: white;
  padding: 10px;
}

/* Forcing styling on mobile browsers */
select {
  color-scheme: dark;
}
.pdf-safe-mode {
  background-color: #080e0d !important;
}

.pdf-safe-mode * {
  /* This tells the browser: "If you're in safe mode, 
     use the closest fallback for colors." */
  color-interpolation: sRGB; 
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
.animate-shimmer {
  animation: shimmer 2s infinite linear;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
